@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

:root{
    --white-color:#fff;
    --green-color:#2DB878;
    --dark-green-color:#;
    --text-dark-color:#535353;
    --background-footer-color:#464A4E;
    --background-icon-message:#03A84E;
}

body::-webkit-scrollbar{
    display: none;
}
    
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar .container-fluid{
    margin: 0 100px;
}

.navbar-nav .nav-item .nav-link{
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
}

.nav-btn{
    margin-left: 350px;
}

.container{
    margin: 0 150px;
}

.slider{
    background: url("/asset/img/bg-slider.png");
    min-height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 140px;
}


.container-slider{
    font-family: 'Poppins', sans-serif;
}

.container-slider h1{
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--white-color);
}

.container-slider p{
    font-size: 25px;
    font-weight: 400;
    color: var(--white-color);
}

.container-slider a{
    margin-top: 2rem;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 500;
}

.about-us{
    padding-top: 130px;
    color: var(--text-dark-color);
}

.services{
    margin-top: 120px;
}

.content{
    justify-content: center;
}

.content-box{
    padding: 110px 30px;
    background: var(--white-color);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.19);;
}

.content-text{
    padding: 30px 0 30px 0;
}

.content-text h3{
    margin-top: 20px;
    margin-bottom: 15px;
}

.services .content{
    text-align: center;
}

.title h1{
    margin-bottom: 40px;
}

.about-stat{
    margin-top: 85px;
}

.stat h4{
    text-align: center;
}

.container-banner{
    display: flex;
    padding: 5rem;
    margin: 200px 0px 100px 0;
    align-items: center;
    background: linear-gradient(102.41deg, #108BBC -10.4%, #02C39A 70.02%);
    border-radius: 25px;
}

.container-text{
    width: 750px;
    color: var(--white-color);
}

.container-text h1{
    font-weight: 650;
}

.mobile-preview{
    margin-top: -170px;
}

.wrapperSlider{
    margin-left: 150px;
    margin-right: 150px;
}

.wrap-partnership{
    display: flex;
    align-items: center;
    justify-content: center;
}

.partnership{
    margin-left: 150px;
    margin-right: 150px;
}

.partnership-item img{
    width: 70px;
}

.contact-us{
    margin: 100px 0 100px 0;
}

.footer-brand{
    margin-right: 100px;
}

.container-footer{
    background-color: var(--background-footer-color);
    padding: 0px 110px 0 110px;
}

.container-footer .row{
    padding: 5rem 0;
}



/* Responsive */

/* HP */
@media (min-width: 576px){
   
}

/* Tablet */
@media (min-width: 768px){

}

/* Desktop kecil */
@media (min-width: 992px){

}

/* Desktop besar */